head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DeviceAtlas DeviceApiWeb Example
    link(type='text/css', rel='stylesheet', href='/css/style.css', media='all')